@model ProductModel

@{
    ViewData["Title"] = "CreateProduct";
    var counter = 0;
}

@section Scripts
{
    <script src="~/modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor");
    </script>
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+(?:[\.,]\d+)?)$/.test(value);
        }

    </script>

    <script>
        $(document).ready(function () {
            $("#fileImage").change(function (e) {
                $("#imgPreview").show();
                $("#imgPreview").attr("src", URL.createObjectURL(e.target.files[0]));
            })
        })
    </script>
}
<h1>CreateProduct</h1>
<hr />
<form asp-controller="Admin" asp-action="CreateProduct" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group-row">
                <label asp-for="Name" class="col-md-2 col-form-label">Product Name</label>
                <div class="col-md-9">
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-row">
                <label asp-for="ImageUrl" class="col-md-2 col-form-label">Image Url</label>
                <div class="col-md-9">
                    @*<input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" />*@
                    <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
                    <img src="~/img/@Model.ImageUrl" width="80px" id="imgPreview" />
                    <input type="file" name="file" value="" id="fileImage" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-row">
                <label asp-for="Description" class="col-md-2 col-form-label">Description</label>
                <div class="col-md-9">
                    <textarea id="editor" asp-for="Description" value="@Model.Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-row">
                <label asp-for="Price" class="col-md-2 col-form-label">Price</label>
                <div class="col-md-9">
                    <input asp-for="Price" value="@Model.Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-row mt-2">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary">Save Product</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @foreach (var item in (List<Category>)ViewBag.Categories)
            {
                var isChecked = "";
                if (Model.SelectedCategories.Any(i => i.Id == item.Id))
                {
                    isChecked = "checked";
                    <input type="hidden" name="SelectCategories[@counter].Id" value="@item.Id" />
                    <input type="hidden" name="SelectCategories[@counter].Name" value="@item.Name" />

                    counter++;
                }
                else
                {
                    isChecked = "";
                }
                <div class="form-check">
                    <input class="form-check-input"
                           name="categoryIds"
                           type="checkbox"
                           value="@item.Id"
                           id="category@(item.Id)" @isChecked>
                    @*id="category@(item.Id)" @(Model.SelectedCategories.Any(i => i.Id == item.Id) ? "checked" : "")>*@
                    <label class="form-check-label" for="category@(item.Id)">
                        @item.Name
                    </label>
                </div>
            }
        </div>
    </div>
</form>